

// var sayNumber = function(n) {
//   console.log("Stephen says '" + n.toString() + "'");
// };


Var books = {  {
	title: 'The Sun Also Rises',
	author: 'Ernest Hemmingway',
	rating: 5
	}  {
title: 'Into The Wild',
	author: 'Jack something',
	rating: 5
	} {
	title: 'A Walk in The Woods',
	author: 'Bill Bryson',
	rating: 4
	}
};



if (books[0] = 'title') {
	console.log ('This is a good book');

	else if (books[0] = "Into the Wild")
	console.log ('Oh, that book is good, too');
};


describe('books', function() {
  it('calculates the time it will take to fall 10 feet', function() {
  	var time = fallingTime(10);
    expect(time).to.eql(1.4);
  });
});
